@media (max-width: 1199px) {
  .gallery {
    column-count: 3;
  }
}
  
@media (max-width: 991px) {
  .gallery {
    column-count: 2;
  }
}
  
@media (max-width: 767px) {
.gallery {
  column-count: 1;
}
nav {
  position: static;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

nav a {
  margin-bottom: 5px;
}

main {
  margin-left: 0;
}
}