.gallery {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
}

.gallery-item {
    width: calc(20% - 20px); /* Breite der Elemente - 4 Elemente pro Reihe */
}

.gallery-sizer {
    width: calc(5% - 20px); /* Gittergröße entsprechend der Elementbreite */
}

img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

.gallery-item:hover img {
    opacity: 0.7;
}